// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.login {
  padding-top: 15px;
}

.reviews-header {
  margin-left: 100px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}