// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
h1 {
  text-align: center;
}
.login {
  padding-top: 15px;
}

#sign-up, #login-section {
  padding-top: 100px;
}

.sign-up-frm, .login-frm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}
